.nav navbar-nav {
  position: fixed;
  /** insert design features, such as color here **/
}

<<<<<<< Updated upstream
li img {
    width: 10px;
    height: 10px;
    background-image: none;
}

.investors {
  width: 10px;
  height: 10px;
=======
.nav navbar-nav navbar-left {
  float: left;
  position: fixed;
>>>>>>> Stashed changes
}

.
