body {
  font-size: 100%;
}
.nav navbar-nav {
  position: fixed;
  /** insert design features, such as color here **/
}
li img {
  width: 30px;
  height: 30px;
  background-image: none;
}
.nav navbar-nav navbar-left {
  float: left;
  position: fixed;
}
.leftsidebar {
  position: fixed;
}
.col-md-6 {
  position: relative;
}
.rightsidebar {
  position: fixed;
}
.sales img {
  width: 300px;
  height: 200px;
}
table {
  border-collapse: seperate;
}
td {
  width: 100px;
  height: 100px;
}
td h2 {
  font: normal bold 100% "new baskerville", serif;
  font-color: rgb(35, 31, 32);
  text-align: center;
}
td img {
  width: 100px;
  height: 100px;
}
.item active img {
  width: 100%;
  height: 100%;
}
