
body {
  font-size: 100%;
  font-family: "new baskerville", serif;
background-color: #BABABA;
}
li a {
  color: #FFF;
}
li img {
  width: 30px;
  height: 30px;
  background-image: none;
}
.toolbartop{
  background-color: #5E5F60;
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
  color: #FFF;
}
.navbar-default .navbar-nav>li>a {
  color: #FFF;
}
.leftsidebar {
  position: fixed;
  background-color: #5E5F60;
  font-weight: bold;
  font-size: 25px;
  line-height: 170%;
}
table {
  border-collapse: seperate;
}
td {
  width: 100px;
  height: 100px;
  background-color: #FFF;
}
td h2 {
  font: normal bold 100% "new baskerville", serif;
  font-color: rgb(35, 31, 32);
  text-align: center;
}
td img {
  width: 100px;
  height: 100px;
}
.detailed {
  background-color: #FFF;
  line-height: 170%;
}
.item active img {
  width: 100%;
  height: 100%;
}
#eventtitle {
  font-size: 25px;
  font-weight: bold;
  color: #F00;
  font-family: helvetica;
}
#eventdate {
  font-size: 20px;
  font-weight: bolder;
    font-family: helvetica;
}
#briefeventdescription {
  font-size: 10px;
  font-weight: bolder;
    font-family: helvetica;
}
.investtoday {
  font-size: 75px;
  font-weight: bolder;
  text-align: center;
  border: 4px solid #000;
    font-family: helvetica;
}

.becomesponsor {
  font-size: 30px;
  color: #FFF;
  background-color: #5E5F60;
  text-align: center;
}
.rightsidebar {
background-color: #FFF;
  position: fixed;
  border: 4px solid #000;
  font-size: 40px;
  text-align: center;
  line-height: 115%;
}
.investtoday{
  font-size: 75px;
  font-weight: bolder;
  text-align: center;
  border: 4px solid #000;
}

 .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
  height: 400px;
}
    .carousel {
      width: 75%;
      height: 200px;
      margin: auto;
}

.btn-block {
  height:75px;
  width:550px;
  background-color: rgb(224,58,62);

}

.btn-block:hover {
  background-color:#8B0000;
}
.sponsorlogo {
  padding-top: 5px;
  padding-bottom: 5px;
}
.sponsor {
  padding-top: 5px;
  padding-bottom: 5px;
}
.investtodaypic {
  padding-top: 5px;
  padding-bottom: 5px;
}
.newscarousel {
  padding-top: 5px;
  padding-bottom: 5px;
}
